.grid-sis{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-bottom: 15px;
}

.tableed{ 
    padding: 1px;
    margin: 0;
}

.tableed .col-md-2{
    border: 1px solid black;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}



tbody tr:hover{
    background-color: rgba(224, 62, 156, 0.3);
    /*color: #fff;
    /*opacity: 0.2;*/
}
/*
td:hover {
    position: relative;
    z-index: 3;
    background-color: #e03e9c;
    color: #fff;
}
*/

.grid-beca{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table-width{
    width: 100%;
}